<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="h1 my-5">Something that will fill your stomach :)</div>
            <div class="input-group mb-3">
                <input [(ngModel)]="searchedInput" (ngModelChange)="handleChange($event)" type="text" class="form-control" placeholder="Search food..." aria-label="food" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button (click)="search()" class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column pt-3 align-items-center">
            <div class="border rounded p-3 item d-flex align-items-center" *ngFor="let food of foodList">
                <img class="img img-thumbnail" src="{{food.image}}" alt="{{food.name}} image"/>
                <div class="d-flex flex-column w-100">
                    <div class="border p-2">{{food.name}} from {{food.company}}</div>
                    <div class="border p-2">{{food.telephone}}</div>
                </div>
            </div>
            <button *ngIf="isNextPage" (click)="loadFood()">More</button>
            <div *ngIf="listIsEmptyAfterSearch()">No food found...</div>
            <div *ngIf="listIsEmptyNoSearch()">Loading...</div>
        </div>
    </div>
</div>