<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="h1 my-5">Something that will fill your stomach :)</div>
            <input placeholder="Search food..." />
        </div>
        <div class="col-12 d-flex flex-column pt-5 align-items-center">
            <div class="border rounded p-3 item" *ngFor="let food of foodList">
                <div class="border p-2">{{food.name}} from {{food.company}}</div>
                <div class="border p-2">{{food.telephone}}</div>
            </div>
            <button *ngIf="isNextPage" (click)="loadFood()">More</button>
        </div>
    </div>
</div>