.item{
    width: 40vw;
    min-height: 20vh;
}

.edit{
    width: 30px;
    height: 30px;
    font-weight: bolder;
    border: none;
    background-color: white;
    margin: 0 5px;
}

.modal-btn {
    margin-bottom: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
}

.input-group {
    width: 45vw;
}

.img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}