<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="h1 my-5">Something that will fill your head :D</div>
            <div class="input-group mb-3">
                <input [(ngModel)]="searchedInput" (ngModelChange)="handleChange($event)" type="text" class="form-control" placeholder="Search music..." aria-label="music" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button (click)="search()" class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div *ngIf="isLoggedUser" class="d-flex justify-content-center align-items-center">
            <div>Not seeing you favourite beats?</div>
            <button (click)="goToForm()" class="btn btn-link">Add here</button>
        </div>
        <div class="col-12 d-flex flex-column pt-3 align-items-center">
            <div class="border rounded p-3 item d-flex align-items-center" *ngFor="let music of musicList">
                <img class="img img-thumbnail" [src]="music?.image || 'https://ucarecdn.com/24cef946-d0f9-49a1-bca0-aaf9783cc685/d5bf4ba00a7a2ff69cf76b6c4e57c3e7.jpg'" alt="{{music.name}} cover" /> 
                <div class="d-flex flex-column w-100">
                    <div class="border p-2">
                        <div class="d-flex justify-content-between">
                            <div>{{music.name}}</div>
                            <div class="d-flex flex-row">
                                {{music.length}}
                                <div *ngIf="isLoggedUser && loggedUserId===music.user">
                                    <button class="edit text-primary" (click)="goToUpdateForm()">✎</button>
                                    <button class="edit text-danger" (click)="showModal()">X</button>
                                    <app-modal *ngIf="isModalShowed" [text]="'This action will delete all favourite combos with this element. What is more, if your today combo has this element it also will be deleted. Do you really want to delete ' + music.name + '?'">
                                        <div #modalDiv class="d-flex w-50 justify-content-around">
                                            <button (click)="cancel()" class="modal-btn">No</button>
                                            <button (click)="confirm(music.id)" class="modal-btn">Yes</button>
                                        </div>
                                    </app-modal>
                                </div>
                            </div>
                        </div> 
                        <div class="text-secondary">{{music.author}}</div>
                    </div>
                    <div class="border d-flex flex-column">
                        <div class="p-2" *ngFor="let service of music.service">{{service}}</div></div>
                    </div>
                </div>
            <button *ngIf="isNextPage" (click)="loadMusic()">More</button>
            <div *ngIf="listIsEmptyAfterSearch()">No food found...</div>
            <div *ngIf="listIsEmptyNoSearch()">Loading...</div>
        </div>
    </div>
</div>
<app-modal *ngIf="responseModal" [responseModal]="true" [text]="responseModalMsg">
    <div #modalDiv class="d-flex justify-content-center">
        <button (click)="closeReponseModal()" class="modal-btn">OK</button>
    </div>
</app-modal>