<div class="h-75 d-flex justify-content-center align-items-center p-5">
    <div class="row border p-3">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <div class="h3">New food! *Yummy*</div>
            <input class="w-75 p-1 m-1" type="text" placeholder="Name of your food..." />
            <label for="own">Is it your food?</label>
            <input type="checkbox" id="own" [(ngModel)]="owner" name="owner"/>
            <input [disabled]="owner" class="w-75 p-1 m-1" type="text" placeholder="Company name..." />
            <input [disabled]="owner" class="w-75 p-1 m-1" type="tel" placeholder="Company phone number..." />
            <label for="vege">Vegetarian?</label>
            <input type="checkbox" id="vege" />
            <div class=" w-100 m-3 d-flex flex-column justify-content-around align-items-center">
              <div>Food photo</div>
              <app-file-uploader (url)="setImageUrl($event)"></app-file-uploader>
            </div>
            <button type="submit">Add food</button>
        </form>
    </div>
</div>
