.preview-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.submit-button{
    .button-b {
        width: 100px;
        height: 50px;
    }
    .button-s {
        width: 200px;
        height: 50px;
    }
}

.h-120{
    height: 120px;
}

.row {
    width: 33vw;
}

.text {
    width: 300px;
    font-weight: 300;
}

.txt {
    height: fit-content;
}

input {
    height: 35px;
}