<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="h1 my-5">Something that will fill your heart <3</div>
            <div class="input-group mb-3">
                <input [(ngModel)]="searchedInput" (ngModelChange)="handleChange($event)" type="text" class="form-control" placeholder="Search games..." aria-label="games" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button (click)="search()" class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div *ngIf="isLoggedUser" class="d-flex justify-content-center align-items-center">
            <div>Can't find your games?</div>
            <button (click)="goToForm()" class="btn btn-link">Add here</button>
        </div>
        <div class="col-12 d-flex flex-column pt-3 align-items-center">
            <div class="border rounded p-3 item d-flex align-items-center" *ngFor="let game of gameList">
                <img class="img img-thumbnail" [src]="game.logoUrl || 'https://ucarecdn.com/378b3a04-7d09-4adb-bee0-7220880dd725/pngtreevectorvideogameiconpngimage_4101325.jpg'" alt="{{game.name}} logo" />
                <div class="d-flex flex-column w-100">
                    <div class="d-flex flex-row justify-content-between border p-2">
                        <div>{{game.name}} ({{game.type}}{{game.multiplayer && game.singleplayer ? ", singleplayer & multiplayer" : game.multiplayer ? ", multiplayer" : game.singleplayer ? ", singleplayer" : ""}})</div>
                        <div *ngIf="isLoggedUser && loggedUserId===game.author">
                            <button class="edit text-primary" (click)="goToUpdateForm(game.id)">✎</button>
                            <button class="edit text-danger" (click)="showModal()">X</button>
                            <app-modal *ngIf="isModalShowed" [text]="'This action will delete all favourite combos with this element. What is more, if your today combo has this element it also will be deleted. Do you really want to delete ' + game.name + '?'">
                                <div #modalDiv class="d-flex w-50 justify-content-around">
                                    <button (click)="cancel()" class="modal-btn">No</button>
                                    <button (click)="confirm(game.id)" class="modal-btn">Yes</button>
                                </div>
                            </app-modal>
                        </div>
                    </div>
                    <div class="border p-2">Price: {{game.price}}</div>
                </div>
            </div>
            <button *ngIf="isNextPage" (click)="loadGames()">More</button>
            <div *ngIf="listIsEmptyAfterSearch()">No games found...</div>
            <div *ngIf="listIsEmptyNoSearch()">Loading...</div>
        </div>
    </div>
</div>
<app-modal *ngIf="responseModal" [responseModal]="true" [text]="responseModalMsg">
    <div #modalDiv class="d-flex justify-content-center">
        <button (click)="closeReponseModal()" class="modal-btn">OK</button>
    </div>
</app-modal>