<div>
    <ng-container *ngIf="loginMode; else registerForm">
        <form class="form">
            <label htmlFor="nickname-log">Nickname: </label>
            <input
              id="nickname-log"
              name="nickname"
              type="text"
              placeholder="Your nickname"
            />
        
            <label htmlFor="password-log">Password: </label>
            <input
              id="password-log"
              name="password"
              type="password"
              placeholder="Your password"
            />
            <button type="submit">
              Sign up
            </button>
            <div (click)="changeMode()">Register</div>
        </form>
    </ng-container>

    <ng-template #registerForm>
        <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
            <label for="name">Nickname:</label>
            <input type="text" id="name" formControlName="name" placeholder="Nickname...">
            <!-- <div *ngIf="userForm.controls.login.touched && userForm.controls.login.hasError('required')">
                Pole jest wymagane
            </div> -->
            <!-- <div *ngIf="userForm.controls.login.hasError('minlength')">Login powinien mieć przynajmniej 3 znaki</div> -->
      
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" placeholder="Email...">
            <!-- <div *ngIf="userForm.controls.email.touched && userForm.controls.email.hasError('required')">
                Pole jest wymagane
            </div> -->
            <!-- <div *ngIf="userForm.controls.email.hasError('pattern')">Niepoprawny email</div> -->
    
            <label for="password">Hasło:</label>
            <input type="password" id="password" formControlName="password" placeholder="Password...">
            <!-- <div *ngIf="userForm.controls.password.touched && userForm.controls.password.hasError('required')">
                Pole jest wymagane
            </div> -->
            <!-- <div *ngIf="userForm.controls.password.hasError('minlength')">Hasło musi mieć przynajmniej 5 znaków</div> -->
        
            <label for="confirmPassword">Powtórz hasło:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password...">
            <!-- <div *ngIf="userForm.controls.confirmPassword.touched && userForm.hasError('passwordMismatch')">Hasła nie są takie same</div> -->
        
            <button type="submit" [disabled]="!userRegisterForm.valid">Sign in</button>
            <div (click)="changeMode()">Login</div>
        </form>
    
    </ng-template>
</div>
