<div>
    <ng-container *ngIf="loginMode; else registerForm">
        <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
            <label for="name">Nickname:</label>
            <input type="text" id="name" formControlName="name" placeholder="Nickname...">
            <div *ngIf="userRegisterForm.controls.name.touched && userRegisterForm.controls.name.hasError('required')">
                Nickname required
            </div>

            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" placeholder="Password...">
            <div *ngIf="userRegisterForm.controls.password.touched && userRegisterForm.controls.password.hasError('required')">
                Password required
            </div>
            <button type="submit">
              Sign up
            </button>
            <div (click)="changeMode()">Register</div>
        </form>
    </ng-container>

    <ng-template #registerForm>
        <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
            <label for="name">Nickname:</label>
            <input type="text" id="name" formControlName="name" placeholder="Nickname...">
            <div *ngIf="userRegisterForm.controls.name.touched && userRegisterForm.controls.name.hasError('required')">
                Nickname required
            </div>
            <div *ngIf="userRegisterForm.controls.name.hasError('minlength')">Nickname should be at least 5 letter long</div>
      
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" placeholder="Email...">
            <div *ngIf="userRegisterForm.controls.email.touched && userRegisterForm.controls.email.hasError('required')">
                Email required
            </div>
            <div *ngIf="userRegisterForm.controls.email.hasError('pattern')">Wrong email pattern</div>
    
            <label for="password">Hasło:</label>
            <input type="password" id="password" formControlName="password" placeholder="Password...">
            <div *ngIf="userRegisterForm.controls.password.touched && userRegisterForm.controls.password.hasError('required')">
                Password required
            </div>
            <div *ngIf="userRegisterForm.controls.password.hasError('minlength')">Password should be at least 8 sign long</div>
        
            <label for="confirmPassword">Powtórz hasło:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password...">
            <div *ngIf="userRegisterForm.controls.confirmPassword.touched && userRegisterForm.hasError('passwordMismatch')">Passwords are different</div>
        
            <button type="submit" [disabled]="!userRegisterForm.valid">Sign in</button>
            <div *ngIf="errorMsg!==''">{{errorMsg}}</div>
            <div (click)="changeMode()">Login</div>
        </form>
    
    </ng-template>
</div>
